<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
    </appSettings>
    <connectionStrings>
        <add name="kinetic_ca_dev_supply_services" providerName="System.Data.SqlClient" connectionString="Server=kinetic\ca_dev;Database=SUPPLY_SERVICES;uid=ocart;pwd=P$5=0cart;" />
        <add name="kinetic_ca_sit1_supply_services_op" providerName="System.Data.SqlClient" connectionString="Server=kinetic\ca_sit1;Database=SUPPLY_SERVICES_op;uid=ocart;pwd=P$$=Ocart;" />
        <add name="nerve_ca_tst_supply_services" providerName="System.Data.SqlClient" connectionString="Server=nerve\ca_tst;Database=SUPPLY_SERVICES;uid=ocart;pwd=P$5=0cart;" />
        <add name="vivacity_ca_prd_supply_services" providerName="System.Data.SqlClient" connectionString="Server=vivacity\ca_prd;Database=SUPPLY_SERVICES;uid=ocart;pwd=Der_m0dteHanEnGammelMand;" />
        <add name="applicationservices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
        <add name="kinetic_ca_dev_asset_disposal" providerName="System.Data.SqlClient" connectionString="Server=kinetic\ca_dev;Database=asset_disposal;uid=adr;pwd=4DR==P$$;" />
        <add name="kinetic_ca_sit1_asset_disposal" providerName="System.Data.SqlClient" connectionString="Server=kinetic\ca_sit1;Database=asset_disposal;uid=adr;pwd=4DR==P$$;" />
        <add name="nerve_ca_tst_asset_disposal" providerName="System.Data.SqlClient" connectionString="Server=nerve\ca_tst;Database=asset_disposal;uid=adr;pwd=4DR==P$$;" />
        <add name="vivacity_ca_prd_asset_disposal" providerName="System.Data.SqlClient" connectionString="Server=vivacity\ca_prd;Database=asset_disposal;uid=adr;pwd=Ru553r3-Skaer>>en;" />
        <add name="nerve_ca_tst_electronic_payment" providerName="System.Data.SqlClient" connectionString="Server=nerve\ca_tst;Database=electronic_payment;uid=epsp;pwd=G01ng_S0l0$$;" />
        <add name="kinetic_ca_dev_electronic_payment" providerName="System.Data.SqlClient" connectionString="Server=kinetic\ca_dev;Database=electronic_payment;uid=epsp;pwd=Gall30n5_2_go;" />
    </connectionStrings>
    <dataConfiguration defaultDatabase="DevData" />
</configuration>
